<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/quiz.css">
</head>
<body>
<h1><%=title%></h1>
<h3><%=content%></h3>
<div class="quiz-container">
  <div id="quiz"></div>
</div>
<div>
  <form action="">
    <fieldset class="options">
        <legend>Quiz</legend>
        <ul>
            <li><input id="radio1" name="answer" type="radio" class="radio"> <label for="radio1"><%=con1%></label></li>
            <li><input id="radio2" name="answer" type="radio" class="radio"> <label for="radio2"><%=con2%></label></li>
            <li><input id="radio3" name="answer" type="radio" class="radio"> <label for="radio3"><%=con3%></label></li>
            <li><input id="radio4" name="answer" type="radio" class="radio"> <label for="radio4"><%=con4%></label></li>
        </ul>
    </fieldset>

</form>
<br>
<button onclick="window.location.href='/test?pkey=<%pkey%> and id=<%id+1%>'" >Next Question</button>
</div>
</body>
</html>
